<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PCoursJava/src/ch/hearc/cours/projet/LauchChat.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.hearc.cours.projet.LauchChat"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-vmargs&#13;&#10;-Xms512m&#13;&#10;-Xmx1024m&#13;&#10;-XX:+UseParallelGC&#13;&#10;-XX:PermSize=256M&#13;&#10;-XX:MaxPermSize=512M"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PCoursJava"/>
</launchConfiguration>
