<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PCoursJava/src/ch/hearc/cours/gui/jcomponent/inclusion/UseJFrameInclusion.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.hearc.cours.gui.jcomponent.inclusion.UseJFrameInclusion"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PCoursJava"/>
</launchConfiguration>
